.fen-container {
  position: relative;
}

#fen-text {
  width: 24rem;
}

.board-container {
  display: flex;
  justify-content: flex-start;
}

.board {
  position: relative;
  top: 1rem;
  left: 1rem;

  width: 480px;
  height: 480px;
  border: 2px solid black;
}

.board-io {
  position: relative;
  margin-top: 1rem;
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
}

.time-limit {
  margin-bottom: 1rem;
}

.engine-output {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.engine-input {
  display: flex;
  flex-direction: column;
}

.engine-input > button {
  width: 100px;
}

#undo-btn {
  margin-top: 0.5rem;
}
