.fen-container {
  position: relative;
}

#fen-text {
  width: 24rem;
}

.board-container {
  display: flex;
  justify-content: flex-start;
}

.board {
  position: relative;
  top: 1rem;
  left: 1rem;

  width: 480px;
  min-width: 480px;
  height: 480px;
  min-height: 480px;
  border: 2px solid black;
}

.board-io {
  position: relative;
  margin-top: 1rem;
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
}

.time-limit {
  margin-bottom: 1rem;
}

.engine-output {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.engine-input {
  display: flex;
  flex-direction: column;
}

.engine-input > button {
  width: 100px;
}

#undo-btn {
  margin-top: 0.5rem;
}

/* Squares: */
.square {
  position: absolute;
  width: 60px;
  height: 60px;
}

.dark {
  background-color: #d18b47;
}

.light {
  background-color: #ffce9e;
}

.selected {
  background-color: #216778;
}

/* Ranks and Files: */
.rank-1 {
  top: 420px;
}
.rank-2 {
  top: 360px;
}
.rank-3 {
  top: 300px;
}
.rank-4 {
  top: 240px;
}
.rank-5 {
  top: 180px;
}
.rank-6 {
  top: 120px;
}
.rank-7 {
  top: 60px;
}
.rank-8 {
  top: 0px;
}
.file-1 {
  left: 0px;
}
.file-2 {
  left: 60px;
}
.file-3 {
  left: 120px;
}
.file-4 {
  left: 180px;
}
.file-5 {
  left: 240px;
}
.file-6 {
  left: 300px;
}
.file-7 {
  left: 360px;
}
.file-8 {
  left: 420px;
}
